body {
	font-family: 'Montserrat', sans-serif;
}

header {
    background: #000000;
    color: #FFFFFF;
}

header h1 {
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    height: 30px;
    z-index: 1;
}

nav {
    text-align: right;
    padding-right: 5px;
    padding: 5px;
}

nav li {
    display: inline;
    margin: 0 5px 0 10px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.promocao {
    background: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 160px;
    border-radius: 20px;
}

.titulo-promocao {
    font-size: 25px;
    padding-top: 10px;
}

.valor-promocao {
    font-size: 22px;
    padding-top: 13px;
}

#pizza-grid {
    padding: 10px;
    height: 100%;
    padding-bottom: 20px;    
}

.pizzas-salgadas {
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
}

.pizzas {
    background-color: #000000;
    margin:0 auto;
    width: 90%;
    max-width: 100%;
    height: 200px;
    border-radius: 12px;
    text-align: center;

}

.grid{
    background-color: none;
    display: flex;
    height: 100%;
    grid-template-columns: repeat(auto-fill, mimax(300px, 1fr));
    column-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
}  

.sub-grid {
    margin:-25px auto;
    background-color: grey;
    border-radius: 10px;
}

.h2-sub-grid {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 5px;
}

.img-pizza {
    max-width: 130px;
    padding: 10px;
}

.p-precos {
    padding: 5px;
    font-size: 17px;
}

.botao-acao {
    width: 100%;
    background: red;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
}